<div class="dashboard-container">
    
    <div class="content-header">
        <div class="header-text">
            <h1>Projetos</h1>
            <p class="text-secondary">Gerencie e organize todos os seus projetos ativos.</p>
        </div>
        
        <div class="header-actions">
            <div class="search-wrapper">
                {{search_component}}
            </div>
            <div class="btn-wrapper">
                {{new_project_btn}}
            </div>
        </div>
    </div>

    <section id="projects-grid" class="projects-grid">
        <p class="text-secondary">Carregando projetos...</p>
    </section>

    <section class="tasks-section">
    <div class="tasks-header">
        <h3>Tarefas recentes</h3>
        <a href="#" class="link">Ver todas</a>
    </div>
    
    <div class="tasks-table-wrapper">
        <table class="tasks-table">
            <thead>
                <tr>
                    <th>Nome da Tarefa</th>
                    <th>Projeto</th>
                    <th>Prioridade</th>
                    <th>Status</th>
                    <th>Prazo</th>
                </tr>
            </thead>
            <tbody id="tasks-table-body">
                </tbody>
        </table>
    </div>
    </section>
</div>