<div class="notification-popup" id="notification-popup">
    <div class="notification-popup__header">
        <h3>Notificações</h3>
        <span class="notification-popup__badge" id="notification-badge">0</span>
    </div>
    <div class="notification-popup__list" id="notification-list">
        <!-- Notifications will be rendered here -->
    </div>
    <div class="notification-popup__footer">
        <a href="/notificacoes" class="notification-popup__view-all" data-link>Ver todas</a>
        <button class="notification-popup__mark-read" id="btn-mark-all">Marcar todas como lidas</button>
    </div>
</div>