<div class="task-comments">
    <div class="task-comments__header">
        <h4 class="task-comments__title">
            <i class="fa-solid fa-comments"></i>Comentários
        </h4>
        <span class="task-comments__count" data-count>0</span>
    </div>

    <div class="task-comments__list" data-comments-list>
        <!-- Comments will be rendered here -->
    </div>

    <div class="task-comments__form" data-comment-form>
        <textarea class="task-comments__input" data-comment-input placeholder="Escreva um comentário..."
            rows="2"></textarea>
        <button class="task-comments__submit" data-submit-btn type="button">
            Enviar
        </button>
    </div>
</div>